# Python
__pycache__/
*.py[cod]
*$py.class
*.pyd

# Environments
.venv/
venv/
env/
.env
.employee/

# Build / packaging
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local databases / temp
*.sqlite
*.db
*.tmp
